<%= form_for(@manga_list) do |f| %>

<%= form.file_field :avatars, multiple: true %>


  <% if @manga_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manga_list.errors.count, "error") %> prohibited this manga_list from being saved:</h2>

      <ul>
      <% @manga_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
